@model PagedPostViewModel

<div class="list-group post-index list-group-flush">
    @foreach (var post in Model.Posts)
    {
        <div class="list-group-item flex-column align-items-start post post-item">
            <div class="@*d-flex w-100 justify-content-between*@">
                <h2 class="mb-1">
                    <a href="@post.GetFullUrl()">@post.Title</a>
                </h2>
            </div>

            <div class="container-fluid mt-1 mb-1">
                <div class="row">
                    @{
                        <div class="mb-2 mt-1">@Html.Raw(MarkdownConverter.ToHtml(post.Excerpt))</div>
                    }

                </div>
            </div>

            <small class="text-muted"><span title="@post.PublishTime.ToChinaTime().ToDateAndTime()">@post.PublishTime.ToRelativeTime()</span> &middot; @post.Category</small>
        </div>
    }
</div>

<pagination pagination="@Model.Pagination" url="@Model.Url"></pagination>